$primary-color: peru;
$bg-color: hsl(0, 0%, 10%);
$text-color: aquamarine;

.main {
  background-color: $bg-color;
}

.title {
  color: $primary-color;
  text-align: center;
}

.text {
  color: $text-color;
  text-align: center;
}