---
import BootstrapLayout from "../../layouts/BootstrapLayout.astro";
import Header from "../../Components/bootstrap/Header.astro";
---

<BootstrapLayout title="Bootstrap">
  <Header />
  <main>
    <div class="container">
      Responsive combinated
      <div class="row">
        <div class="col-xl-7 col-lg-12 oscuro">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, illum.
        </div>
        <div class="col-xl-3 col-lg-8 col-md-6 col-sm-12 claro">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, illum.
        </div>
        <div class="col-xl-2 col-lg-4 col-md-6 col-sm-12 oscuro">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, illum.
        </div>
      </div>
    </div>
  </main>
</BootstrapLayout>

<style>
  .oscuro {
    background-color: hsl(0, 0%, 20%);
    color: white;
  }

  .claro {
    background-color: hsl(0, 0%, 50%);
    color: black;
  }
</style>
