---
import Button from "@/Components/Button.astro";
import Exercise from "@/Components/Exercise/Exercise.astro";
import Input from "@/Components/Input.astro";
import Label from "@/Components/Label.astro";
---

<Exercise
  title="Ejercicio 3"
  description=`
    Crea un programa que reciba un monto a pagar y calcule su precio
    final, incluyendo un impuesto al valor agregado (IGV) del 18%. El
    programa mostrará el monto total a pagar después de aplicar el
    impuesto.`
  messageId="message-3"
>
  <form class="max-w-64 w-full mx-auto h-fit" id="form-3">
    <Label>
      Monto a pagar:
      <Input
        type="text"
        name="amount"
        autocomplete="off"
        pattern="[0-9]{1,6}[.][0-9]{1,2}|[0-9]{1,6}"
        title="ingrese un valor entre 0 y 1000000"
        required
      />
    </Label>
    <Button type="submit"> Calcular </Button>
  </form>
</Exercise>

<script is:inline>
  (() => {
    // Ejercicio 3
    const $form3 = document.getElementById("form-3");

    $form3?.addEventListener("submit", (event) => {
      event.preventDefault();
      const $message = document.querySelector('p[data-id="message-3"]');
      const formData = new FormData($form3);
      const { amount } = Object.fromEntries(formData);

      const numValue = Number(amount);
      const igv = 0.18;

      const message = isNaN(numValue)
        ? `El valor "${numValue}"" no es un numero`
        : `
      Monto a pagar (Sin IGV): S/. ${numValue}<br>
      Monto a pagar (IGV 18% incluido): S/. ${(numValue + numValue * igv).toFixed(2)}
    `;

      // displayHTMLMessage({ $element: $message, content: message });
      console.log(message);
      $message.innerHTML = message;
      $form3.reset();
    });
  })();
</script>
