---
import Button from "@/Components/Button.astro";
import Exercise from "@/Components/Exercise/Exercise.astro";
import Input from "@/Components/Input.astro";
import Label from "@/Components/Label.astro";
---

<Exercise
  title="Ejercicio 6"
  description=`
    Desarrolla un programa que solicite la base y la altura de dos
    triángulos. Luego calculará y comparará el área de ambos triángulos,
    mostrando también cuál de ellos tiene el área más grande.`
  messageId="message-6"
>
  <form class="flex flex-col max-w-xl mx-auto" id="form-6">
    <div class="flex flex-wrap gap-4 mb-5">
      <div class="flex-grow">
        <p class="border-b border-zinc-700 mb-3 pb-1">Triangulo A</p>
        <Label>
          Base:
          <Input
            type="number"
            name="baseA"
            autocomplete="off"
            min="1"
            required
          />
        </Label>
        <Label>
          Altura:
          <Input
            type="number"
            name="heightA"
            autocomplete="off"
            min="1"
            required
          />
        </Label>
      </div>
      <div class="flex-grow">
        <p class="border-b border-zinc-700 mb-3 pb-1">Triangulo B</p>
        <Label>
          Base:
          <Input
            type="number"
            name="baseB"
            autocomplete="off"
            min="1"
            required
          />
        </Label>
        <Label>
          Altura:
          <Input
            type="number"
            name="heightB"
            autocomplete="off"
            min="1"
            required
          />
        </Label>
      </div>
    </div>
    <Button type="submit"> Calcular áreas </Button>
  </form>
</Exercise>
