---
import ExerciseBox from "@/Components/Exercise/ExerciseBox.astro";
import ExerciseContent from "@/Components/Exercise/ExerciseContent.astro";
import ExerciseFooter from "@/Components/Exercise/ExerciseFooter.astro";
import ExerciseHeader from "@/Components/Exercise/ExerciseHeader.astro";
---

<ExerciseBox>
  <ExerciseHeader title="Exercise infinite level 100% real no fake">
    - Renderiza una lista de productos con precio, nombre y descripción<br />
    - Agrega un input para buscar produtos según cualquier campo<br />
    - Haz que solo se muestren los productos que coincidan con lo ingresado en el
    input<br />
    - Haz que la búsqueda se haga en tiempo real mientras se escribe en el input<br
    />
  </ExerciseHeader>
  <ExerciseContent>
    <form id="">Comming soon...</form>
  </ExerciseContent>
  <ExerciseFooter messageId="message-infinite" />
</ExerciseBox>
