---
import Button from "@/Components/Button.astro";
import Exercise from "@/Components/Exercise/Exercise.astro";
import Input from "@/Components/Input.astro";
import Label from "@/Components/Label.astro";
---

<Exercise
  title="Ejercicio 5"
  description=`
    Desarrolla un programa que reciba dos cadenas de texto, 'a' y 'b', y
    devuelva una nueva cadena combinando ambas de la siguiente manera:
    corta + larga + corta. La cadena más corta estará en el exterior y la
    más larga en el interior. Por ejemplo, si las cadenas son "bye" y
    "adios", el resultado sería "byeadiosbye".`
  messageId="message-5"
>
  <form class="max-w-64 w-full mx-auto h-fit" id="form-5">
    <Label>
      Cadena A:
      <Input type="text" name="stringA" autocomplete="off" required />
    </Label>
    <Label>
      Cadena B:
      <Input type="text" name="stringB" autocomplete="off" required />
    </Label>
    <Button type="submit"> Combinar cadenas </Button>
  </form>
</Exercise>

<script is:inline>
  (() => {
    // Ejercicio 5
    const $form5 = document.getElementById("form-5");

    $form5?.addEventListener("submit", (event) => {
      event.preventDefault();
      const $message = document.querySelector('[data-id="message-5"]');
      const formData = new FormData($form5);
      const objectData = Object.fromEntries(formData);

      const [shortString, longString] = Object.values(objectData).toSorted(
        (a, b) => a.length - b.length,
      );

      const message = shortString + longString + shortString;

      // displayTextMessage({ $element: $message, message });
      console.log(message);
      $message.innerText = message;
      $form5.reset();
    });
  })();
</script>
