---
import Button from "@/Components/Button.astro";
import Exercise from "@/Components/Exercise/Exercise.astro";
import Input from "@/Components/Input.astro";
import Label from "@/Components/Label.astro";
---

<Exercise
  title="Ejercicio 8"
  description=`
  En un restaurante típico se ofrece tres tipo de comidas, los cuales consisten en los siguientes:<br>
  - Opción 1: Incluye especial de pescado a la hoja, acompañado de salsa de cocona<br>
  - Opción 2: Incluye especial de tacacho con cecina mas su refresco de carambola.<br>
  - Opción 3: Incluye caldo de gallina, acompañado de su arroz sin sal.<br>
  En caso de no seleccionar ninguna de las opciones, se ofrecerá solo su menú del día.`
  messageId="message-8"
>
  <form class="max-w-md w-full mx-auto h-fit" id="form-8">
    <p class="border-b border-zinc-300 dark:border-zinc-700 mb-3 pb-1">
      Elija un plato
    </p>
    <Label row gap="3">
      <Input name="plate" type="radio" value="option1" />
      Especial de pescado a la hoja + Salsa de cocona
    </Label>
    <Label row gap="3">
      <Input name="plate" type="radio" value="option2" />
      Especial de tacacho con cecina + Refresco de carambola
    </Label>
    <Label row gap="3">
      <Input name="plate" type="radio" value="option3" />
      Caldo de gallina + arroz sin sal
    </Label>
    <Button type="submit"> Realizar pedido </Button>
  </form>
</Exercise>

<script is:inline type="module">
  import { handleDomElement, $ } from "/js/utils.js";

  (() => {
    // Ejercicio 8
    const $form8 = $("#form-8");

    if (!($form8 instanceof HTMLFormElement)) {
      return;
    }

    const $message = $('[data-id="message-8"]');
    const $optionInput = $form8.elements["plate"];

    console.log($optionInput);
    console.log($optionInput.value);
    console.log(typeof $optionInput);

    if (!($message instanceof HTMLElement)) {
      return;
    }

    $form8.addEventListener("submit", (event) => {
      event.preventDefault();
      const formData = new FormData($form8);
      const { plate } = Object.fromEntries(formData);

      const messages = {
        option1:
          "En breve recibira su plato de pescado a la hoja y una salsa de cocona",
        option2:
          "En breve recibira su plato de tacacho con cecina y un refresco de carambola",
        option3:
          "En breve recibira su plato de caldo de gallina y un extra de arroz sin sal",
        default: "Recibirá su menú del día",
      };

      // const message = Object.hasOwn(messages, plate)
      //   ? messages[plate]
      //   : messages["default"];

      let message;

      switch (plate) {
        case "option1":
          message = messages["option1"];
          break;
        case "option2":
          message = messages["option2"];
          break;
        case "option3":
          message = messages["option3"];
          break;

        default:
          message = messages["default"];
      }

      // displayHTMLMessage({ $element: $message, content: message });
      console.log(message);
      $message.innerHTML = message;
      $form8.reset();
    });
  })();
</script>
