---
import Button from "@/Components/Button.astro";
import Exercise from "@/Components/Exercise/Exercise.astro";
import Input from "@/Components/Input.astro";
import Label from "@/Components/Label.astro";
---

<Exercise
  title="Ejercicio 2"
  description=`
    Escribe un programa que solicite al usuario un número y determine si
    es positivo, negativo o cero, imprimiendo el resultado
    correspondiente.`
  messageId="message-2"
>
  <form class="exercise-form" id="form-2">
    <Label>
      Número:
      <Input type="number" name="num" autocomplete="off" required />
    </Label>
    <Button type="submit"> Evaluar </Button>
  </form>
</Exercise>
