---
import Exercise from "@/Components/Exercise/Exercise.astro";
---

<Exercise
  title="Ejercicio 1"
  description=`Crea un programa que solicite al usuario su nombre, apellido y edad
    para luego presentar un saludo amigable, mostrando la información
    ingresada. Por ejemplo: "Buen día, soy Denys Jaramillo y tengo 41
    años." El resultado se mostrará en una alerta o en la consola`
  messageId="message-1"
>
  <form class="exercise-form" id="form-1">
    <label class="input-container">
      Nombres:
      <input
        class="transition-3 exercise__input"
        name="firstname"
        type="text"
        pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,36}"
        title="ingrese sus nombres"
        autocomplete="off"
        required
      />
    </label>
    <label class="input-container">
      Apellidos:
      <input
        class="transition-3 exercise__input"
        name="lastname"
        type="text"
        pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,36}"
        title="ingrese sus apellidos"
        autocomplete="off"
        required
      />
    </label>
    <label class="input-container">
      Edad:
      <input
        class="transition-3 exercise__input"
        type="number"
        name="age"
        pattern="[0-9]{1,36}"
        min="5"
        max="120"
        title="ingrese su edad"
        autocomplete="off"
        required
      />
    </label>
    <button class="button mt-1 transition-3" type="submit">
      Mostrar saludo
    </button>
  </form>
</Exercise>
