---
import Button from "@/Components/Button.astro";
import Exercise from "@/Components/Exercise/Exercise.astro";
import Input from "@/Components/Input.astro";
import Label from "@/Components/Label.astro";
---

<Exercise
  title="Ejercicio 1"
  description=`Crea un programa que solicite al usuario su nombre, apellido y edad
    para luego presentar un saludo amigable, mostrando la información
    ingresada. Por ejemplo: "Buen día, soy Denys Jaramillo y tengo 41
    años." El resultado se mostrará en una alerta o en la consola`
  messageId="message-1"
>
  <form class="max-w-64 w-full mx-auto h-fit" id="form-1">
    <Label>
      Nombres:
      <Input
        name="firstname"
        type="text"
        pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,36}"
        title="ingrese sus nombres"
        autocomplete="off"
        required
      />
    </Label>
    <Label>
      Apellidos:
      <Input
        name="lastname"
        type="text"
        pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,36}"
        title="ingrese sus apellidos"
        autocomplete="off"
        required
      />
    </Label>
    <Label>
      Edad:
      <Input
        type="number"
        name="age"
        pattern="[0-9]{1,36}"
        min="5"
        max="120"
        title="ingrese su edad"
        autocomplete="off"
        required
      />
    </Label>
    <Button type="submit"> Mostrar saludo </Button>
  </form>
</Exercise>

<script is:inline>
  (() => {
    // Ejercicio 1
    const $form1 = document.getElementById("form-1");

    $form1?.addEventListener("submit", (event) => {
      event.preventDefault();
      const $message = document.querySelector('p[data-id="message-1"]');
      const formData = new FormData($form1);
      const { firstname, lastname, age } = Object.fromEntries(formData);

      const currentTime = new Date().getHours();

      const greeting =
        currentTime < 12
          ? "Buen día"
          : currentTime < 18
            ? "Buenas tardes"
            : "Buenas noches";

      const message = `${greeting}, soy ${firstname} ${lastname} y tengo ${age} años`;

      // displayTextMessage({ $element: $message, message });
      console.log(message);
      $message.innerText = message;
      $form1.reset();
    });
  })();
</script>
