---
import Button from "@/Components/Button.astro";
import Exercise from "@/Components/Exercise/Exercise.astro";
import Input from "@/Components/Input.astro";
import Label from "@/Components/Label.astro";
---

<Exercise
  title="Ejercicio 4"
  description=`
    Desarrolla un programa que determine el monto equitativo a pagar por
    cada uno de los 3 amigos después de salir a comer. El programa
    solicitará el monto total a pagar y calculará cuánto debe pagar cada
    amigo para que todos contribuyan por igual. Luego, mostrará el
    resultado mediante una alerta o en la consola.`
  messageId="message-4"
>
  <form class="max-w-64 w-full mx-auto h-fit" id="form-4">
    <Label>
      Monto total:
      <Input
        type="text"
        name="amount"
        autocomplete="off"
        pattern="[0-9]{1,6}.[0-9]{1,2}|[0-9]{1,6}"
        required
      />
    </Label>
    <Button type="submit"> Calcular </Button>
  </form>
</Exercise>

<script is:inline>
  (() => {
    // Ejercicio 4
    const $form4 = document.getElementById("form-4");

    $form4?.addEventListener("submit", (event) => {
      event.preventDefault();
      const $message = document.querySelector('p[data-id="message-4"]');
      const formData = new FormData($form4);
      const { amount } = Object.fromEntries(formData);

      const numValue = Number(amount);
      const friendsCount = 3;

      const message = isNaN(numValue)
        ? `El valor "${numValue}"" no es un numero`
        : `
          Monto a pagar total: S/. ${numValue}<br>
          Monto a pagar por cada amigo: S/. ${(numValue / friendsCount).toFixed(2)}
        `;

      // displayHTMLMessage({ $element: $message, content: message });
      console.log(message);
      $message.innerHTML = message;
      $form4.reset();
    });
  })();
</script>
