---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Align">
  <main>
    <div class="container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>
  </main>
</Layout>

<style>
  main{
    min-height: 100dvh;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 8px;
    padding: 8px;
    color: black;
    font-size: 2em;

    div {
      background-color: hsl(0, 0%, 70%);
      align-content: center;
      text-align: center;
    }
  }
</style>