---
import Box from '../../Components/Box.astro';
import Layout from '../../layouts/Layout.astro';

const boxes = [
  {
    classList: 'lista',
    text: 'A'
  },
  {
    classList: 'lista',
    text: 'B'
  },
  {
    classList: 'lista',
    text: 'C'
  },
  {
    classList: 'lista',
    text: 'D'
  },
  {
    classList: 'lista',
    text: 'E'
  },
  {
    classList: 'lista',
    text: 'F'
  },
]
---

<Layout title="Grid">
  <main>
    <div class="container">
      {
        boxes.map(box => (
          <Box classList={box.classList}>
            {box.text}
          </Box>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  main {
		min-height: 100dvh;
  }

  .container {
    background-color: hsl(200, 100%, 90%);
    min-height: 200px;
    display: grid;
    grid-template-columns: 100px 100px 200px;
     /* repeat(auto-fill, minmax(100px, 1fr));  */
     /* auto-fill no ocupa todo el espacio posible */
     /* auto-fit ocupa todo el espacio posible */
     /* estas diferencias se notan cuando son pocos elementos */
    gap: 5px;
    padding: 5px;
  }
</style>