---
import ImageViewerIsland from "@/Components/ImageViewerIsland.astro";
import CommonLayout from "../layouts/CommonLayout.astro";

const images = [1, 2, 3, 5, 4, 6, 7, 9, 8];
// Array.from({length: 9})
---

<CommonLayout title="Gallery">
  <main class="flex justify-center p-8">
    <section
      class="gallery grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 auto-rows-auto gap-4 max-w-7xl min-w-0 w-full"
    >
      {
        images.map((code) => (
          <picture class="image-container flex overflow-hidden w-full h-full relative rounded-lg
            hover:shadow-md hover:shadow-black transition-shadow duration-500 cursor-pointer">
            <img
              class="grayscale transition-all duration-500 object-cover 
                hover:rotate-[0.5deg] hover:grayscale-0 hover:scale-105"
              src={`/img/${code}.webp`}
              alt={`persona ${code}`}
            />
            <p class="absolute py-1 px-2 text-lg text-white bg-black/50">
              {code}
            </p>
          </picture>
        ))
      }
    </section>
  </main>

  <ImageViewerIsland />
</CommonLayout>

<style>
  .gallery {
    .image-container:nth-child(1),
    .image-container:nth-child(5),
    .image-container:nth-child(9) {
      grid-column: 1;
    }
  }

  @media (min-width: 640px) {
    .gallery {
      .image-container:nth-child(1),
      .image-container:nth-child(5),
      .image-container:nth-child(9) {
        grid-column: span 2;
      }
    }
  }
</style>
