---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout title="Web Dev Practice">
	<main class="py-6 px-2 flex flex-grow justify-center">
		<div
			class="bg-secondary-100 dark:bg-secondary-950 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl h-fit"
		>
			<div>
				<span
					class="inline-flex items-center justify-center p-2 bg-secondary-600 rounded-md shadow-lg"
				>
					<svg
						class="h-6 w-6 text-white"
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						aria-hidden="true"></svg>
				</span>
			</div>
			<h3
				class="text-slate-900 dark:text-white mt-5 text-base font-medium tracking-tight"
			>
				Welcome to my test project
			</h3>
			<p class="text-slate-500 dark:text-slate-400 mt-2 text-sm">
				There's nothing here... don't worry
			</p>
		</div>
	</main>
</CommonLayout>
