---
import Layout from "../layouts/Layout.astro";
---

<Layout title="OOCSS">
  <main>
    <div class="card">
      <h2 class="card__title">This is an h2 title</h2>
      <p class="card__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum
        obcaecati distinctio suscipit quo autem. Consectetur ea amet hic sint
        repudiandae. Nulla, corrupti voluptate nobis enim dolore totam maiores
        placeat!
      </p>
      <figure class="card__image-container">
        <img 
          src="/img/4.jpg" 
          alt="Happy man" 
          class="card__image"
        />
      </figure>
    </div>
  </main>
</Layout>

<style>
  main {
    min-height: 100dvh;
  }

  .card {
    background-color: hsl(0, 0%, 95%);
    border-radius: 0.5em;
    border: none;
    width: 300px;
    color: black;
    padding: 0.5em 1em;
    transition: 0.3s;
    
    &:hover {
      background-color: hsl(0, 0%, 100%);
      box-shadow: 5px 5px 20px hsla(0, 0%, 0%, 50%);
    }
  }

  .card__image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0px auto;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
  }

  .card__image {
    height: 100%;
  }

  .card__title {
    color: hsl(0, 0%, 10%);
    margin-bottom: 0.3em;
  }

  .card__text {
    margin-bottom: 1em;
    color: hsl(0, 0%, 20%);
  }

  /* .btn {
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    text-decoration: none;
    color: azure;
    background-color: royalblue;
    border-radius: 1.5em;
  }

  .btn--salir {
    color: royalblue;
    background-color: transparent;
    border: 1px solid royalblue;
  } */

  /* .sidebar {
    text-align: center;
    color: hsl(0, 0%, 70%);
  }

  h2.sidebar__title {
    color: deepskyblue;
  } */

  /* .box-1 {
    width: 600px;
    height: 100px;
    color: hsl(0, 0%, 70%);
  }

  .box-2 {
    width: 600px;
    height: 200px;
    color: hsl(0, 0%, 70%);
  }

  .box-border {
    border: 1px solid #09f;
    border-radius: 0.5em;
  } */
</style>
