---
import Layout from "../layouts/Layout.astro";
import Post from "../Components/Post.astro";
---

<Layout title="Twitter" favicon="/ico/twitter.ico">
  <main>
    <Post
      username="ひろ@C103/1日目東モ08a"
      accountName="habanero_mgmg"
      avatarUrl="https://pbs.twimg.com/profile_images/1350790885244485633/5DYTStYq_400x400.jpg"
      postText="ヴェールヌイ"
      postImgUrl="https://pbs.twimg.com/media/GPJAr8SbkAAk8o1?format=jpg&name=large"
    />
    <Post
      username="さ"
      accountName="iorikawawa"
      avatarUrl="https://pbs.twimg.com/profile_images/1691080601955385344/tuAfJ3Qy_400x400.jpg"
      postText="セミナー"
      postImgUrl="https://pbs.twimg.com/media/F0QvSJraEAAe66C?format=jpg&name=4096x4096"
    />
    <Post
      username="Xanderitsme"
      accountName="xanderitsme"
      avatarUrl="https://avatars.githubusercontent.com/u/153887376?v=4"
      postText="This is simple post"
      postImgUrl="https://i.pinimg.com/736x/39/11/6c/39116c247669762f4ce72be4ce2b862e.jpg"
    />
  </main>
  <div class="layers">
    <div id="post-viewer"></div>
  </div>

  <script is:inline>
    const appendHTML = ({ parentElement, htmlContent }) => {
      parentElement.innerHTML += htmlContent;
    };

    const removeElement = ({ elementId }) => {
      const $element = document.getElementById(elementId);

      if ($element !== null) {
        $element.remove();
        return;
      }

      console.log("element not found");
    };

    const $postsImages = document.querySelectorAll(".post__image-container");
    const $postViewer = document.getElementById("post-viewer");

    $postsImages.forEach(($postImage) => {
      $postImage.addEventListener("click", (event) => {
        const $img = event.target.closest("img");

        if ($img instanceof HTMLImageElement) {
          const imgUrl = $img.getAttribute("src");

          appendHTML({
            parentElement: $postViewer,
            htmlContent: ImageViewer({ imgUrl }),
          })
        }
      });
    });

    $postViewer.addEventListener("click", (event) => {
      if (event.target !== event.target.closest('img')) {
        removeElement({ elementId: "img-viewer" });
      }
    });

    const ImageViewer = ({ imgUrl }) => {
      return `
        <div class="viewer" id="img-viewer">
          <figure class="viewer__image-container">
            <img
              class="viewer__image"
              src="${imgUrl}"
              alt="anything"
            />
          </figure>
        </div>
      `;
    };
  </script>
</Layout>

<style is:inline>
  body:has(#img-viewer) {
    overflow: hidden;
  }

  .viewer {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: hsla(0, 0%, 0%, 60%);
    backdrop-filter: blur(5px);
    left: 0;
    top: 0;
  }

  .viewer__image-container {
    height: 100dvh;
    max-width: 95dvw;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .viewer__image {
    max-height: 95%;
    max-width: 100%;
  }
</style>

<style>
  main {
    padding: 24px;
  }
</style>
