---
interface Props {
  classList: string;
}

const { classList } = Astro.props;
---

<div class={classList}>
  <slot />
</div>

<style>
  div {
    /* width: 150px; */
    /* height: 150px; */
    /* background-color: wheat; */
    color: black;
    text-align: center;
    align-content: center;
    /* font-size: 1.1em; */
    font-weight: 600;
    transition: 0.5s;
  }

  .lista {
    background-color: #09f;
    font-size: 2rem;
    color: black;
    text-align: center;
  }
</style>
