---
import Navbar from "./Navbar.astro";
---

<header class="bg-black text-white flex flex-wrap content-center p-4 gap-6">
  <div class="my-auto">
    <a href="/">
      <h1 class="text-2xl">Web Dev practice</h1>
    </a>
  </div>
  <Navbar />
</header>
