---
import DevIcon from "./Icons/DevIcon.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
// sticky top-0 backdrop-blur-md
---

<header
  class="flex flex-wrap justify-between items-center content-center relative
  px-5 py-3 gap-6 w-dvw
  bg-white
  dark:bg-zinc-950
  "
>
  <div class="flex flex-wrap gap-y-1.5 gap-x-3">
    <div class="contents">
      <a class="mx-auto flex content-center" href="/">
        <div class="content-center mr-1">
          <DevIcon class="w-5 h-5 text-secondary-600 dark:text-secondary-400" />
        </div>
        <span
          class="text-xl font-semibold text-secondary-950 dark:text-secondary-100"
        >
          Practice
        </span>
      </a>
    </div>
    <nav>
      <ul
        class="flex flex-wrap items-center font-medium text-zinc-500 dark:text-zinc-400
          [&>li]:contents [&>li>a]:inline-block
          [&>li>a]:text-sm [&>li>a]:px-2 [&>li>a]:py-1
          [&>li>a:hover]:text-secondary-900 [&>li>a:focus]:text-secondary-900
          dark:[&>li>a:hover]:text-secondary-200 dark:[&>li>a:focus]:text-secondary-200
          [&>li>a]:transition-colors"
      >
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/js">Javascript</a>
        </li>
        <li>
          <a href="/gallery">Gallery</a>
        </li>
        <li>
          <a href="/microsoft-web">Microsoft web</a>
        </li>
        <li>
          <a href="/twitter-web">Twitter</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="contents">
    <ThemeSwitch />
  </div>
</header>
<div class="border-b border-zinc-200 dark:border-zinc-800">
</div>
