---
import Link from "./Link.astro";
---

<nav class="navbar-horizontal">
  <ul class="horizontal-links">
    <li class="link-container">
      <Link class="link" to="/">Home</Link>
    </li>
    <li class="link-container">
      <Link class="link" to="/js">Javascript</Link>
    </li>
    <li class="link-container">
      <Link class="link" to="/gallery">Gallery</Link>
    </li>
    <li class="link-container">
      <Link class="link" to="/microsoft-web">Microsoft web</Link>
    </li>
    <li class="link-container">
      <Link class="link" to="/twitter-web">Twitter</Link>
    </li>
  </ul>
</nav>

<style>
  .navbar-horizontal {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 24px;
  }

  ul.horizontal-links {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .link-container {
    display: flex;
  }

  a.link {
    padding: 0.7rem 1rem;
    color: hsl(0, 0%, 80%);
    font-size: small;
    transition: 0.3s;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

    &:hover {
      background-color: hsla(200, 100%, 50%, 12%);
      text-decoration-color: hsl(200, 100%, 40%);
      color: hsl(200, 100%, 40%);
    }
  }

  li.link-container:hover,
  li.link-container:active,
  li.link-container:target,
  li.link-container:focus-visible,
  li.link-container:focus {
    > ul.vertical-links--collapsed {
      visibility: visible;
      background-color: hsl(0, 0%, 5%);
      opacity: 1;
    }
  }

  ul.vertical-links--collapsed {
    position: absolute;
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    z-index: 1;
    transition: 0.2s;
    margin-top: 2.2rem;
  }

  a.vertical-links__link {
    width: 100%;
  }
</style>
