---
import Link from "./Link.astro";
---

<nav class="navbar-horizontal">
  <ul class="horizontal-links">
    <li class="link-container">
      <Link class="link" to="/">Home</Link>
    </li>
    <li class="link-container">
      <Link class="link" to="/js">Javascript</Link>
    </li>
    <li class="link-container">
      <Link class="link" to="/gallery">Gallery</Link>
    </li>
    <li class="link-container">
      <Link class="link" to="/microsoft-web">Microsoft web</Link>
    </li>
    <li class="link-container">
      <Link class="link" to="/twitter-web">Twitter</Link>
    </li>
  </ul>

  <!-- <div
    id="menu-backdrop"
    class="absolute bg-sky-500/[0.14] rounded translate-x-[var(--left)] translate-y-[var(--top)] left-0 top-0 w-[var(--width)] h-[var(--height)] transition-all duration-300 ease-in-out opacity-0"
  >
  </div> -->
</nav>

<!-- <script>
  const listItems = document.querySelectorAll(".link-container");
  const $menuBackdrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItems.forEach(($item) => {
    if ($menuBackdrop === null) {
      console.error("menu-backdrop not found");
      return;
    }

    $item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = $item.getBoundingClientRect();

      $menuBackdrop.style.setProperty("--left", `${left}px`);
      $menuBackdrop.style.setProperty("--top", `${top}px`);
      $menuBackdrop.style.setProperty("--width", `${width}px`);
      $menuBackdrop.style.setProperty("--height", `${height}px`);
      $menuBackdrop.style.opacity = "1";
      $menuBackdrop.style.visibility = "visible";
    });

    $item.addEventListener("mouseleave", () => {
      $menuBackdrop.style.opacity = "0";
      $menuBackdrop.style.visibility = "hidden";
    });
  });
</script> -->

<style>
  .navbar-horizontal {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 24px;
  }

  ul.horizontal-links {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .link-container {
    display: flex;
    /* z-index: 1; */
  }

  a.link {
    padding: 0.7rem 1rem;
    color: hsl(0, 0%, 80%);
    font-size: small;
    transition: 0.3s;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

    &:hover {
      background-color: hsla(200, 100%, 50%, 12%);
      text-decoration-color: hsl(200, 100%, 40%);
      color: hsl(200, 100%, 40%);
    }
  }

  li.link-container:hover,
  li.link-container:active,
  li.link-container:target,
  li.link-container:focus-visible,
  li.link-container:focus {
    > ul.vertical-links--collapsed {
      visibility: visible;
      background-color: hsl(0, 0%, 5%);
      opacity: 1;
    }
  }

  ul.vertical-links--collapsed {
    position: absolute;
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    z-index: 1;
    transition: 0.2s;
    margin-top: 2.2rem;
  }

  a.vertical-links__link {
    width: 100%;
  }
</style>
