<nav class="navbar-horizontal">
  <ul class="horizontal-links">
    <li class="link-container">
      <a class="link" href="/">Home</a>
    </li>
    <li class="link-container">
      <a class="link" href="/js">Javascript</a>
    </li>
    <li class="link-container">
      <a class="link link--hoverable" href="/grid">Grid</a>
      <ul class="vertical-links--collapsed">
        <li class="link-container">
          <a class="vertical-links__link link" href="/grid/areas">Areas</a>
        </li>
        <li class="link-container">
          <a class="vertical-links__link link" href="/grid/align">Align</a>
        </li>
      </ul>
    </li>
    <li class="link-container">
      <a class="link link--hoverable" href="#">General</a>
      <ul class="vertical-links--collapsed">
        <li class="link-container">
          <a class="vertical-links__link link" href="/gallery">Gallery</a>
        </li>
        <li class="link-container">
          <a class="vertical-links__link link" href="/oocss">OOCSS</a>
        </li>
        <li class="link-container">
          <a class="vertical-links__link link" href="/microsoft-web"
            >Microsoft web</a
          >
        </li>
        <li class="link-container">
          <a class="vertical-links__link link" href="/twitter-web">Twitter</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<style>
  .navbar-horizontal {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 24px;
  }

  ul.horizontal-links {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  .link-container {
    display: flex;
  }

  a.link {
    padding: 0.7rem 1rem;
    color: hsl(0, 0%, 80%);
    font-size: small;
    transition: 0.3s;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

    &:hover {
      background-color: hsla(200, 100%, 50%, 12%);
      text-decoration-color: hsl(200, 100%, 40%);
      color: hsl(200, 100%, 40%);
    }
  }

  a.horizontal-links__link--current {
    background-color: hsla(0, 0%, 100%, 7%);
    color: hsl(0, 0%, 100%);
  }

  li.link-container:hover > ul.vertical-links--collapsed {
    visibility: visible;
    background-color: hsl(0, 0%, 5%);
    opacity: 1;
  }

  ul.vertical-links--collapsed {
    position: absolute;
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    z-index: 1;
    transition: 0.2s;
    margin-top: 2.2rem;
  }

  a.vertical-links__link {
    width: 100%;
  }
</style>
