---
import IconContainer from "./IconContainer.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<button
  class=`bg-transparent flex items-stretch cursor-pointer transition-colors duration-200
  [&:hover>figure]:before:opacity-10 [&:hover>figure]:before:duration-200 ${className}`
>
  <slot name="before" />
  <IconContainer>
    <slot name="icon" />
  </IconContainer>
  <slot />
</button>
