---
const colors = {
  bluesky: 'bluesky',
  lightGreen: 'lightGreen',
  carmesi: 'carmesi'
} as const

type HoverColor = typeof colors[keyof typeof colors];

interface Props {
  hoverColor: HoverColor;
}

const { hoverColor } = Astro.props;
---

<button class=`icon-button ${hoverColor}`>
  <slot name="icon" />
  <span class="icon-button__content">
    <slot class="icon-button__content" />
  </span>
</button>

<style is:global>
  .icon-button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: stretch;
    cursor: pointer;
    color: hsla(0, 0%, 100%, 50%);
    transition: 0.3s;

    &:hover {
      .icon-container::before {
        opacity: 0.15;
      }
    }
  }

  .icon-container {
    color: inherit;
    transition: inherit;

    &::before {
      content: "";
      width: 2.2rem;
      height: 2.2rem;
      position: absolute;
      border-radius: 50%;
      background-color: currentColor;
      opacity: 0;
      transition: inherit;
    }
  }

  .icon-button__content {
    color: inherit;
    transition: inherit;
    padding: 0 0.3rem;
    align-content: center;
  }

  .bluesky:hover {
    color: hsl(204, 88%, 53%);
  }

  .lightGreen:hover {
    color: hsl(160, 100%, 36%);
  }

  .carmesi:hover {
    color: hsl(332, 95%, 54%);
  }
</style>
