<p class="text-pretty text-zinc-900 dark:text-zinc-100">
  <slot />
</p>

<style is:global>
  a.post-link {
    color: hsl(204, 88%, 53%);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: transparent;
    text-decoration-thickness:  1px;
    text-underline-offset: 2px;
    transition: 0.2s;

    &:hover {
      text-decoration-color: currentColor;
    }
  }

  p.post-description {
    color: hsla(0, 0%, 100%, 70%);
    text-wrap: pretty;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  p.post-description--all {

  }
</style>
