---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<header class="bg-portage-950 py-0 px-3 m-2 rounded-md">
  <h2 class="font-medium text-lg text-center text-balance py-2 px-3 border-b border-portage-800 text-portage-100">{title}</h2>
  <p class="text-pretty text-portage-300 py-2">
    {description}
  </p>
</header>
