---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<header class="bg-slate-950 py-0 px-3">
  <h2 class="font-medium text-lg text-center text-balance py-2 px-3 border-b border-slate-800">{title}</h2>
  <p class="text-pretty text-slate-400 py-2">
    {description}
  </p>
</header>
