---
interface Props {
  messageId: string;
}

const { messageId } = Astro.props;
---

<footer class="min-h-32">
  <h3 class="font-medium text-lg text-center text-slate-200">Resultado:</h3>
  <p class="text-center text-slate-400 mt-2" data-id={messageId}></p>
</footer>