---
interface Props {
  messageId: string;
}

const { messageId } = Astro.props;
---

<footer class="min-h-32">
  <p class="font-medium text-lg text-center text-zinc-300">Resultado:</p>
  <p class="text-center text-zinc-400 mt-2 px-3" data-id={messageId}></p>
</footer>
