---
import GithubIcon from "@/Components/Icons/GithubIcon.astro";
---

<footer class="flex flex-col gap-2 px-5 py-6 mt-auto">
  <div class="flex justify-center">
    <a
      href="https://github.com/DiegoAlessandroMotta/animations-practice.git"
      target="_blank"
      rel="noreferrer"
      class="p-2
        text-zinc-500 hover:text-zinc-700
        dark:text-zinc-800 dark:hover:text-zinc-600
        transition-colors"
    >
      <GithubIcon class="w-6 h-6" />
    </a>
  </div>
  <p
    class="text-center
      text-zinc-500
      dark:text-zinc-600"
  >
    Created by:
    <a
      href="https://github.com/DiegoAlessandroMotta"
      target="_blank"
      rel="noreferrer"
    >
      <span class="font-semibold text-secondary-500">.__.</span>
    </a>
  </p>
</footer>
