.mt-1 {
  margin-top: 1rem;
}

.transition-3 {
  transition: 0.3s;
}

.exercise-form {
  max-width: 256px;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
}

.input-container {
  display: flex;
  gap: 0.2rem;
  flex-flow: column nowrap;
  min-width: 200px;
  
  &:has(+ .input-container) {
    margin-bottom: 0.5rem;
  }
}

.exercise__input {
  display: block;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 0.8rem;
  background-color: rgb(55, 65, 81);
  border: 1px solid rgb(75, 85, 99);
  outline: none;
  border-radius: 0.3rem;
  color: hsla(0, 0%, 100%, 80%);

  &:focus,
  &:hover {
    border-color: rgb(59, 130, 246);
  }
}

.button {
  border: none;
  background-color: rgb(29, 78, 216);
  padding: 12px 20px;
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: inherit;

  &:hover {
    background-color: rgb(30, 64, 175);
  }
}

.cols {
  display: flex;
  flex-flow: row wrap;
}

.gap-1 {
  gap: 1rem;
}

.max-w-600 {
  max-width: 600px;
}

.flex-grow {
  flex-grow: 1;
}

.exercise-form__subtitle {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 20%);
}