---
import "./Icons.css";
---

<span class="icon-container">
  <svg
    fill="currentColor"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="none"
    height="24"
    width="24"
  >
    <g>
      <path
        d="M8.75 21V3h2v18h-2zM18 21V8.5h2V21h-2zM4 21l.004-10h2L6 21H4zm9.248 0v-7h2v7h-2z"
      ></path>
    </g>
  </svg>
</span>

<style>
  span:hover {
    background-color: hsla(204, 88%, 53%, 15%);

    svg {
      color: hsl(204, 88%, 53%);
    }
  }

  svg {
    height: 1.3em;
    width: 1.3em;
    color: hsla(0, 0%, 100%, 50%);
    transition: inherit;
  }
</style>