.icon-container {
  display: inline-block;
  background-color: transparent;
  height: 2.2em;
  width: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
}