.icon-container {
  display: inline-block;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

svg {
  height: 1.3em;
  width: 1.3em;
  color: currentColor;
  transition: inherit;
}