---
import { ViewTransitions } from "astro:transitions";
import Header from "@/Components/Header.astro";
import "@fontsource-variable/inter";

interface Props {
  title: string;
  favicon?: string;
}

const { title, favicon = "/favicon.svg" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href={favicon} />
    <ViewTransitions />
  </head>
  <body class="bg-white dark:bg-zinc-950 text-zinc-700 dark:text-zinc-400 overflow-y-hidden overflow-x-hidden">
    <div class="w-dvw h-dvh overflow-y-auto overflow-x-hidden flex flex-col">
      <Header />
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html:has(input:not(#check__theme:checked)) {
    :root {
      color-scheme: light light;
    }
  }

  :root {
    color-scheme: light dark;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
  }

  /* html:has(input:not(#check__theme:checked)) header { */
  /* html:has(input#check__theme:checked) header {
    background: #fff !important;
  } */

  body {
    min-height: 100dvh;
    font-family:
      "Inter Variable",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
</style>
