---
import { ViewTransitions } from "astro:transitions";
import Header from "@/Components/Header.astro";
import "@fontsource-variable/inter";

interface Props {
  title: string;
  favicon?: string;
}

const { title, favicon = "/favicon.svg" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="TODO" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href={favicon} />
    <ViewTransitions />
  </head>
  <body class="bg-white dark:bg-zinc-950 text-zinc-700 dark:text-zinc-400">
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  html:has(input:not(#check__theme:checked)) {
    :root {
      color-scheme: light light;
    }
  }

  :root {
    color-scheme: light dark;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* html:has(input:not(#check__theme:checked)) header { */
  /* html:has(input#check__theme:checked) header {
    background: #fff !important;
  } */

  html {
    scrollbar-width: thin;
  }

  body {
    min-height: 100dvh;
    font-family:
      "Inter Variable",
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;

    overflow-x: hidden;

    &:has([data-id="img-viewer"]) {
      overflow: hidden;
    }
  }

  .viewer {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: hsla(0, 0%, 0%, 60%);
    backdrop-filter: blur(5px);
    left: 0;
    top: 0;
  }

  .viewer__image-container {
    height: 100dvh;
    max-width: 95dvw;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .viewer__image {
    max-height: 95%;
    max-width: 100%;
  }
</style>