---
import CommonLayout from "@/layouts/CommonLayout.astro";
// import Exercise1 from "@/sections/exercises/Exercise1.astro";
// import Exercise2 from "@/sections/exercises/Exercise2.astro";
// import Exercise3 from "@/sections/exercises/Exercise3.astro";
// import Exercise4 from "@/sections/exercises/Exercise4.astro";
// import Exercise5 from "@/sections/exercises/Exercise5.astro";
// import Exercise6 from "@/sections/exercises/Exercise6.astro";
// import Exercise7 from "@/sections/exercises/Exercise7.astro";
import Exercise8 from "@/sections/exercises/Exercise8.astro";
import Exercise9 from "@/sections/exercises/Exercise9.astro";
import Exercise10 from "@/sections/exercises/Exercise10.astro";
import Exercise11 from "@/sections/exercises/Exercise11.astro";
---

<CommonLayout title="Javascript" favicon="/ico/js.svg">
  <main class="flex flex-col items-center py-6 px-2 pb-12 gap-6">
    <!-- <Exercise1 />
    <Exercise2 />
    <Exercise3 />
    <Exercise4 />
    <Exercise5 />
    <Exercise6 />
    <Exercise7 /> -->
    <Exercise8 />
    <Exercise9 />
    <Exercise10 />
    <Exercise11 />
  </main>
</CommonLayout>
